<div class="bg-first-300 border border-solid border-red-200">
  <div id="<%= dom_id @order %>">
    <p>
      <%= link_to @order do %>

        <div>
          Total: <%= number_to_currency(@order.total_price, :unit => "€") %>
        </div>
        <div>
          Status: <%= @order.status %>
        </div>
        
      <% end %>
    </p>

    <%= render OrderItems::OrderItemComponent.with_collection(OrderItem.all) %>
    
  </div>
</div>
