<%= render Frame::BodyComponent.new do |c|%>
  <% c.with_custom_component do %>
    <h1>Products</h1>

    <div
      data-controller="pagination"
      data-pagination-url-value="<%= products_url %> "
      data-pagination-current-page-value="<%= 1 %>"
      data-pagination-max-page-value="<%= @last_page %>"
      data-pagination-request-value="false"
      <% if @search_term %>
        data-pagination-search-term-value="<%= @search_term %>"
      <% end %>
      <% if @category_id %>
        data-pagination-category-value="<%= @category_id %>"
      <% end %>
    >

      <div
        id="products"
        class="flex flex-wrap justify-center"  
      >
        <% if @products.empty? %>
          <div class="flex" id="no-product">
            <div class="text-center w-52 m-7 p-6">
              There is no result to show
              <% if @category %>
                in <%= @category.name %>
              <% end %>
              .
            </div>
          </div>
        <% else %>
          <%= render Products::ProductComponent.with_collection(@products) %>
        <% end %>
      </div>

      <div
        class="w-full h-32 center-content mt-32"
        data-pagination-target="loading"
      >
        <%= render Icons::SpinnerComponent.new %>
      </div>

    </div>

    <%= link_to "New product", new_product_path %>
  <% end %>
<% end %>