<div class="bg-third-100 border border-solid border-red-200 w-96 m-4 p-4 rounded-md" id="<%= dom_id @product %>">

  <%= link_to @product do %>
    <div class="w-full aspect-square ">
      <% if @product.images.first %>
        <%= image_tag @product.images.first, class: "rounded-md" %>
      <% end %>
    </div>
    <div class="text-sm line-clamp-2 h-10 my-2">
      <span class="font-bold"><%= @product.company %></span> <%= @product.name %>
    </div>

    <div class="text-lg text-first-500">
      <div>
        star: <%= (@product.total_review_score.to_f / @product.review_count.to_f).floor(1) %> - <%= @product.review_count %>
      </div>
    </div>

    <div class="text-lg text-first-500 font-bold mb-2">
      <%= number_to_currency(@product.price, :unit => "$") %>
    </div>
  <% end %>

  <%= button_to "Add to Cart", order_items_path(order_item: {product_id: @product.id, quantity: 1}), class: "btn-first p-2 w-full font-bold" %>
    
</div>
