<div class="p-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4" id="<%= dom_id @product %>">

  <div class="bg-first-100 border border-solid border-red-200 p-4 rounded-md">
    <%= link_to @product, data: {"turbo-action": "advance", "turbo-frame": "main-parts"} do %>
      <div class="w-full aspect-square ">
        <% if @product.images.first %>
          <%= image_tag @product.images.first, class: "rounded-md" %>
        <% end %>
      </div>
      <div class="text-sm line-clamp-2 h-10 my-2">
        <span class="font-bold"><%= @product.company %></span> <%= @product.name %>
      </div>
      <div class="text-lg text-first-500">
        <div class="flex">
          <div class="h-6 aspect-[5]">
            <%= render Icons::StarComponent.new(percent: rand(500)) %>
          </div>
          <div>
             (<%= @product.review_count %>)
          </div>
        </div>
      </div>
      <div class="text-lg text-first-500 font-bold mb-2">
        <%= number_to_currency(@product.price, :unit => "$") %>
      </div>
    <% end %>
    <%= button_to "Add to Cart", order_items_path(order_item: {product_id: @product.id, quantity: 1}), class: "btn-first p-2 w-full font-bold" %>
  </div>
    
</div>
