<div class="bg-third-100 border border-solid border-red-200 w-96 m-4 p-4 " id="<%= dom_id @product %>">

  <%= link_to @product do %>
    <div class="w-full aspect-square bg-third-400 ">
      <img src="https://loremflickr.com/360/360" alt="">
    </div>
    <div class="text-sm line-clamp-2">
      <%= @product.name %>
    </div>

    <div class="text-lg text-first-500">
      <div>
        star: <%= @product.total_review_score.to_f / @product.review_count.to_f %> - <%= @product.review_count %>
      </div>
    </div>

    <div class="text-lg text-first-500">
      <%= number_to_currency(@product.price, :unit => "$") %>
    </div>
  <% end %>

  <%= simple_form_for :order_item, url: order_items_path do |form| %>
    <%= form.input :product_id, as: :hidden, input_html: { value: @product.id } %>
    <%= form.submit "Add to Cart", class: "btn-second w-full" %>
  <% end %>
    
</div>
