<turbo-frame id="products-search-bar" >

  <div class="w-full flex items-center h-full">
    <div
        id="search-bar-dummy"
        class="bottom-unset px-16 inset-x-0 flex z-100 shadow-none w-full "
        data-dropdown-target="menu"
        data-controller="search-form"
        data-search-form-url-value="<%= products_url %>"
    >

      <div class="w-2/3 relative h-12 flex">
        <%= render Products::SearchFormComponent.new %>
        <div class="hidden absolute left-4 top-1/2 transform -translate-y-1/2 center-content" data-search-form-target="loading">
          <%= render Icons::SpinnerComponent.new %>
        </div>
        <div class="absolute left-4 top-1/2 transform -translate-y-1/2 center-content" data-search-form-target="searchIcon">
          <button data-action="click->search-form#search" class="outline-none w-6 h-6">
            <%= render Icons::SearchComponent.new %>
          </button>
        </div>
      </div>
      <div class="w-1/3 h-12" id="search-bar-select">
        <%= render Products::CategorySelectComponent.new(categories: @categories, category: @category) %>
      </div>
    </div>
  </div>
</turbo-frame>
