<div>
  
  <div class="flex">
    <div class="w-1/2 aspect-square bg-second-500 ">
      <%= image_tag @product.images.first, class: "object-cover" %>

      <div class="w-32 aspect-square flex">
        <% @product.images.map do |image| %>
          <%= image_tag image, class: "object-cover" %>
        <% end %>
      </div>
      
    </div>
    <div class="w-1/2">
      <div>
        name: <span class="font-bold"><%= @product.company %></span> <%= @product.name %>
      </div>
      <div>
        seller: <%= @product.seller.email %>
      </div>
      <div>
        color: <%= @product.color %>
      </div>
      <div>
        description: <%= @product.description %>
      </div>
      <div>
        quantity: <%= @product.quantity %>
      </div>
      <div>
        price: <%= @product.price %>
      </div>
      <div>
        review star: <%= (@product.total_review_score.to_f / @product.review_count.to_f).floor(1) %>
      </div>
    </div>
    
  </div>

  <div>

    <%= simple_form_for :order_item, url: order_items_path do |form| %>
      <%= form.input :product_id, as: :hidden, input_html: { value: @product.id } %>
      <%= form.submit "Add to Cart", class: "btn-second p-2" %>
    <% end %>

    
  </div>
  
  <%= render Reviews::IndexComponent.new(reviews: @product.reviews.first(5)) %>

  <div>
    <%= link_to "Questions", product_questions_path(@product) %>
  </div>
  
  <div>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
    <%= link_to "Back to products", products_path %>
  
    <%= button_to "Destroy this product", @product, method: :delete %>
  </div>
</div>
