<div>
  
  <div class="flex">
    <div class="w-1/2 aspect-square bg-second-500">
      <img class="object-cover" src="https://loremflickr.com/360/360" alt="">

      <% @product.images.map do |image| %>
        <%= image_tag image %>
      <% end %>
      
    </div>
    <div class="w-1/2">
      <div>
        name: <%= @product.name %>
      </div>
      <div>
        seller: <%= @product.seller.email %>
      </div>
      <div>
        color: <%= @product.color %>
      </div>
      <div>
        description: <%= @product.description %>
      </div>
      <div>
        quantity: <%= @product.quantity %>
      </div>
      <div>
        price: <%= @product.price %>
      </div>
      <div>
        review star: <%= @product.total_review_score.to_f / @product.review_count.to_f %>
      </div>
    </div>
    
  </div>

  <div>

    <%= simple_form_for :order_item, url: order_items_path do |form| %>
      <%= form.input :product_id, as: :hidden, input_html: { value: @product.id } %>
      <%= form.submit "Add to Cart", class: "btn-second" %>
    <% end %>

    
  </div>
  
  <%= render Reviews::IndexComponent.new(reviews: @product.reviews.first(5)) %>

  <div>
    <%= link_to "Questions", product_questions_path(@product) %>
  </div>
  
  <div>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
    <%= link_to "Back to products", products_path %>
  
    <%= button_to "Destroy this product", @product, method: :delete %>
  </div>
</div>
