<div 
  class="sticky top-0 w-full flex justify-between text-3xl border-b border-solid bg-first-50 p-3 items-center z-50" 
  data-scroll-target="navbar"
  data-turbo-permanent
>
  <%= link_to "Shopping", root_path, data: {"turbo-frame"=> main_parts_target}  %>

  <div class="w-full flex">
    <div class="group relative">
      <div >
        By categories
      </div>

      <%= 
        turbo_frame_tag all_categories_map_target, 
                        src: base_categories_path, 
                        loading: "lazy", 
                        class: "absolute top-full left-0 hidden group-hover:flex flex-col flex-wrap bg-first-50 aspect-square w-96" do %>
        <%= render component("icons/spinner") %>
      <% end %>
      
    </div>
    
    <%= turbo_frame_tag products_search_bar_target, src: new_search_path, loading: "lazy", class: "flex items-center w-full" do %>
      <%= render component("icons/spinner") %>
    <% end %>
    
    
    <div class="mr-8 flex items-center">
      <%= render component("settings/main_color") %>
      <%= render component("layout/user_account", current_user: @current_user) %>
    </div>
    <%= render component("carts/navbar", cart: @cart) %>
  </div>
</div>