<div class="p-4 sm:w-1/3 md:w-1/4 lg:w-1/5 md:min-w-[250px] snap-start h-full " id="<%= dom_id @product %>">

  <div class="bg-first-100 hover:bg-first-200 border border-solid border-red-200 p-4 rounded-md">
    <%= link_to @product, data: {"turbo-action": "advance", "turbo-frame": main_parts_target} do %>
      <div class="w-full aspect-square ">
        <% if @product.images.first %>
          <%= image_tag @product.images.first, class: "rounded-md aspect-square" %>
        <% end %>
      </div>
      <div class="text-sm line-clamp-2 h-10 my-2">
        <span class="font-bold"><%= @product.brand.name %></span> <%= @product.name %>
      </div>
      <div class="text-lg text-first-500">
        <div class="flex">
          <div class="h-6 aspect-[5]">
            <%= render component("icons/star", percent: @product.average_rate * 100) %>
          </div>
          <div>
             (<%= @product.review_count %>)
          </div>
        </div>
      </div>

      <% if @product.discount %>

        <div class="text-lg text-first-500 font-bold  mt-2">
          <%= number_to_currency(@product.price * ( 100 - @product.discount) / 100, :unit => "$") %>
        </div>

        <div class="flex  mb-2">
          <div class="text-xs line-through">
            <%= number_to_currency(@product.price, :unit => "$") %>
          </div>
          <span class="ml-2 text-xs font-bold">%<%= @product.discount %> </span>
        </div>
        
      <% else %>
        
        <div class="text-lg font-bold mb-2">
          <%= number_to_currency(@product.price, :unit => "$") %>
        </div>

      <% end %>

    <% end %>
    <%= button_to "Add to Cart", order_items_path(order_item: {product_id: @product.id, quantity: 1}), class: "btn-first p-2 w-full font-bold" %>
  </div>
    
</div>
