<%= render Frame::BodyComponent.new do |c|%>
  <% c.with_custom_component do %>

    <%= @main_category.name %>

    <div>
      Subcategories
    </div>
    <div class="flex flex-wrap justify-evenly">
      <%= render(Categories::CategoryComponent.with_collection(@main_category.categories)) %>
    </div>

    <div class="bg-blue-100">
      <%= render Products::IndexComponent.new(products: @main_category.products) %>
    </div>

    <div>
      <%= link_to "Edit this category", edit_category_path(@main_category) %> |
      <%= link_to "Back to categories", main_categories_path %>

      <%= button_to "Destroy this category", @main_category, method: :delete %>
    </div>
  <% end %>
<% end %>