<div 
  class="sticky top-0 w-full flex justify-between text-3xl border-b border-solid bg-first-50 p-3 items-center z-50" 
  data-scroll-target="navbar"
  data-turbo-permanent
>
  <%= link_to "Shopping", root_path, data: {"turbo-frame"=> "main-parts"}  %>

  <div class="ml-auto flex">

    <turbo-frame id="products-search-bar" src=<%= new_search_path %> loading="lazy">
      <%= render Icons::SpinnerComponent.new %>
    </turbo-frame>
    
    
    <div class="mr-8 flex items-center">
      <%= render Settings::MainColorComponent.new() %>
      <%= render Layout::UserAccountComponent.new(current_user: @current_user) %>
    </div>
    <%= render Carts::NavbarComponent.new(cart: @cart) %>
  </div>
</div>