<div class="bg-third-400 flex justify-between text-3xl">
  <%= link_to "Shopping", root_path %>

  <div class="ml-auto flex">
    
    
    <div class="mr-8 flex">
      
      <details class="relative mr-8">
        <summary>Settings</summary>
        <p class="absolute top-full left-0 bg-first-400 [&>button]:w-32 [&>button]:h-32 [&>button:active]:bg-first-300 ">
          <button onClick="setVar('green')" >
            green
          </button>
          <button onClick="setVar('yellow')" >
            yellow
          </button>
          <button onClick="setVar('sky')" >
            sky
          </button>
          <button onClick="setVar('pink')" >
            pink
          </button>
        </p>
      </details> 
      <% if @current_user %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
      <% else %>
        <%= link_to "Sign in", new_customer_session_path %>
      <% end %>
    </div>
    <% if @cart %>
      <%= link_to @cart do %>
        <%= @cart.order_items.map(&:quantity).sum %>
      <% end %>
    <% end %>
  </div>
</div>