<%= turbo_frame_tag products_search_bar_target do %>
  <div class="w-full flex items-center h-full" ">
    <div class="bottom-unset px-16 inset-x-0 flex z-100 shadow-none w-full">
      <div class=" relative h-12 flex w-full">
        <%= form_with(
          url: products_path,
          method: :get,
          class: "flex text-sm w-full",
          data: {
            turbo_frame: main_parts_target,
            action: "turbo:before-fetch-response->search-form#hideSpinner",
            controller: "search-form"
          }
        ) do |form| %>
          <%= form.text_field :search_term,
            data: {
              action: "input->search-form#search", "search-form-target": "input"
            },
            placeholder: 'Search products',
            class: "w-full input-primary p-3 pl-12 px-6 w-full border rounded-full h-12",
            value: @search_term
          %>
          
          <div
            class="absolute left-4 top-1/2 transform -translate-y-1/2 flex justify-center"
            data-search-form-target="searchIcon"
          >
            <button
              data-action="click->search-form#search"
              class="outline-none w-5 h-5"
            >
              <%= render component("icons/search") %>
            </button>
          </div>
          <div
              class="hidden absolute left-4 top-1/2 transform -translate-y-1/2"
              data-search-form-target="loading"
          >
            <%= render component("icons/spinner") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
