<div class="border border-solid border-red-200 my-4 p-4">
  <div id="<%= dom_id @review %>">
    <p>
      <%= link_to @review do %>
        
        <div>
          <%= @review.body %>
        </div>
        
        <div class="flex">
          <div class="h-4 aspect-[5] mt-1">
            <%= render Icons::StarComponent.new(percent: @review.rate * 100) %>
          </div>
          <div class="mx-2">
            <%= @review.customer.email %>
          </div>
        </div>
        
      <% end %>
    </p>
    
  </div>
</div>
