<%= render component("frame/body") do %>
  <div class="flex" data-controller="left-search-form">
    <%= form_with(
      url: products_path,
      method: :get,
      class: "w-1/5",
      data: {
        turbo_frame: search_results_target,
        turbo_action: "advance",
        action: "turbo:before-fetch-response->left-search-form#removeOpacity",
        left_search_form_target: "form",
      }
    ) do |form| %>
      <%= form.hidden_field :search_term, 
                            value: @search_term, 
                            data: {
                              search_form_target: "leftInput"
                            } 
      %>

      <details class="w-full p-4 ">
        <summary class="font-black py-2">Category</summary>
        <div class="">
          <%= render component("search/categories_tree", main_categories: @main_categories) %>
        </div>
      </details> 

      <details class="w-full p-4 ">
        <summary class="font-black py-2">Brand</summary>
        
        <div class="h-full border-l-4 w-full p-4">
          <%= form.collection_check_boxes :brand_ids,  
                                          @brands, 
                                          :id, 
                                          :name, 
                                          { include_hidden: false}, 
                                          data: {
                                            action: "input->left-search-form#search", 
                                            search_form_target: "brand"
                                          } do |b| 
          %>
            <div class="flex">
              <%= b.check_box %>
              <%= b.label class: "ml-2 whitespace-nowrap overflow-hidden text-ellipsis" %>
            </div>
          <% end %>
        </div>
      </details> 

    <% end %>
    
    <%= turbo_frame_tag search_results_target, class: "w-4/5" do %>
      <%= @products_count %> products found <% unless @search_term == "" %>
                                              for <span class="font-bold"> <%= @search_term %> </span>
                                            <% end %>
      
      
      <%= 
        render component(
          "products/infinite_scroll_start_page",
          products: @products, 
          last_page: @last_page, 
          search_term: params[:search_term],
          category_id: params[:category_id] 
        ) 
      %>
    <% end %>
  </div>
<% end %>