<h1>Reviews</h1>

<%= turbo_frame_tag product_reviews_target(@product) do %>
  <% if @reviews.present? %>
    <%= render component("reviews/statistics", product: @product, reviews_statistics: @reviews_statistics) %>

    <div data-controller="reviews-options-form" >
      <%= form_with(
        url: product_reviews_path(@product),
        method: :get,
        class: "text-sm w-full",
        data: {
          turbo_frame: product_reviews_inner_target(@product),
          reviews_options_form_target: "form",
          action: "turbo:before-fetch-response->reviews-options-form#removeOpacity"
        }
      ) do |form| %>

        <%= form.select :rate_order, options_for_select([
                                        ["Highest First", :highest_rate], 
                                        ["Lowest First", :lowest_rate],
                                      ], @rate_order), 
                                      { include_blank: "Sort" }, 
                                      data: { 
                                        action: "change->reviews-options-form#search" 
                                      } 
        %>
        
      

        <%= turbo_frame_tag product_reviews_inner_target(@product), 
                            data: {
                              action: "turbo:frame-render->scroll#scrollNow"
                            } do 
        %>
          <%= render components("reviews/review", @reviews) %>
          <div class="w-full justify-center flex ">
            <%== pagy_nav(@pagy) %>  
          </div>
        <% end %>

        
        

        
      <% end %>
    </div>
    
  <% else %>
    <div>
      There is no review to show.
    </div>
  <% end %>
  
  <%= link_to "New review", new_review_path %>
<% end %>