<!DOCTYPE html>
<html>
  <head>
    <title>Shopping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3" data-turbo-eval="false"></script>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', "data-turbo-track": "reload" %>
    <%= vite_javascript_tag 'application', "data-turbo-track": "reload", defer: true %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="bg-first-50" data-controller="scroll">

    
    <div class="fixed bottom-0 right-0 inset-x-0 m-4 z-30">
      <div class="relative ">
        <div id="notifications" class="absolute right-0 bottom-0 flex flex-col items-end space-y-4">
          <% if notice  %>
            <%= render component("notifications/info", info: notice) %>
          <% end %>
          <% if alert  %>
            <%= render component("notifications/info", info: alert) %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render component("layout/navbar", cart: @cart, current_user: current_user) %>
    <div class="px-3">
      <%= yield %>
    </div>
  </body>
</html>
