<!DOCTYPE html>
<html>
  <head>
    <title>Shopping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', "data-turbo-track": "reload" %>
    <%= vite_javascript_tag 'application', "data-turbo-track": "reload", defer: true %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="bg-first-100">
    <button class="w-32 h-32" onClick="setVar('green')" >
      green
    </button>
    <button class="w-32 h-32" onClick="setVar('yellow')" >
      yellow
    </button>
    <button class="w-32 h-32" onClick="setVar('sky')" >
      sky
    </button>
    <button class="w-32 h-32" onClick="setVar('pink')" >
      pink
    </button>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render Layout::NavbarComponent.new(cart: @cart, current_user: current_user) %>
    <%= yield %>
  </body>
</html>
